.mt-10 {
    margin-top: 10 !important;
  }
  .p-3 {
    padding: 10 !important;
  }
  
  body {
    background-color: #E6E6FA;
    /* background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg'); */
    /* background-image: url('/public/photos/beckground.jpg'); */
  }

  h1{
    /* color: red; */
  }

  .btn:hover{
    background-image:none !important;
    background-color: royalblue !important;
    border: royalblue !important;
    font-weight: bolder !important;
    color: white !important; 
  }

  a{
    text-decoration:none
  }

  .btn{
    background-color: rgba(124, 174, 224, 0.87);
    border-color: rgba(124, 174, 224, 0.87);
  }

  .logout {
    background-color: rgba(153, 143, 143, 0.52);
    border: rgba(153, 143, 143, 0.52);
  }

  .logout:hover{
    background-image:none !important;
    background-color: rgba(206, 81, 97, 0.767) !important;
    border: rgba(206, 81, 97, 0.767) !important;
  }

  .default-bg {
    background-image: url('./../../images/bg.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }

  .pages{
    background-image: url('./../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }

  .error{
    color: red;
    font-size: x-large;
}

  